@CHARSET "UTF-8";

body {
		font-family: Georgia, Trebuchet MS, serif;
		font-size: small;
		line-height: normal;
}

#sidebar {	
		font-size: 110%;
		width: 340px;
		padding: 20px;
		margin: 0px 50px 30px 30px;
		border: thin solid #ff6400;
		float: right;
		line-height: 1.5	
}

#header {
		margin: 30px 0px 30px 50px
}

#main {
		margin: 0px 0px 0px 50px;
		font-size: 120%;
		line-height: 2;
}

#main h1 {
		Color: #4C075D;
}

#footer {
		padding: 150px 0px 20px 0px;
		text-align: center;
		margin-top: 30px;
}

h2 {
		Color: #4C075D;
}

#sidebar h2 {
		Color: #ff6400;
		text-align: center;
}

h3 {
		Color: #4C075D;
}

#sidebar h3 {
		Color: #ff6400;	
}

#sidebar a:link {
		color: #007e7e;
}

#sidebar a:visited {
		color: #333333;
}

#sidebar a:hover {
		background: #ff6400;
		color: #0d5353;
}