@charset "UTF-8";"

#easterncampus{
	padding-left: 20px;
	padding-top: 0px;
	float: left;
	width: 70%;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
	background-repeat: no-repeat;
}

#headerblock {
    color: Black;
    background-color: ;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    height: 200px;
}

#Eastercampus{
	width:200px;
}

#Centralcampus{
	width:200px;
}

#Westerncampus{
	width:200px;
}
