@charset "ISO-8859-1";

body {
		font-family: Georgia, Trebuchet MS, serif;
		font-size: small;
		margin: 0px;
		line-height: normal;
}

#header {
		margin: 30px 0px 30px 50px
}

#sidebar {	
		font-size: 110%;
		width: 340px;
		padding: 20px;
		margin: 0px 50px 30px 30px;
		border: thin solid #ff6400;
		float: right;
		line-height: 1.5	
}

#main {
		margin: 0px 0px 0px 50px;
		font-size: 120%;
		line-height: 2;
}

#main h1 {
		Color: #4C075D;
}

#footer {
		padding: 150px 0px 20px 0px;
		text-align: center;
		margin-top: 30px;
}

#enrollment {
		background-color: #ffcfa9;
		padding: 20px 20px 20px 90px;
		margin: 20px 560px 40px 140px;
		border-radius: 15px;	
		background-image: url(../Images/logo_orange.jpg);
		background-repeat: no-repeat;
		background-position: top left;
}

#demographics {
		background-color: #EEDEFF;
		padding: 20px 20px 20px 90px;
		margin: 20px 560px 40px 0px;
		border-radius: 15px;	
		background-image: url(../Images/logo.jpg);
		background-repeat: no-repeat;
		background-position: top left;	
}

#did_you_know {
		background-color: #ffcfa9;
		padding: 20px 20px 20px 90px;
		margin: 20px 560px 40px 140px;
		border-radius: 15px;	
		background-image: url(../Images/logo_orange.jpg);
		background-repeat: no-repeat;
		background-position: top left;	
}

h2 {
		Color: #4C075D;
}

#sidebar h2 {
		Color: #ff6400;
		text-align: center;
}

h3 {
		Color: #4C075D;
}

#sidebar h3 {
		Color: #ff6400;	
}

.university {
		font-style: italic;
		font-weight: bold;
}
.thumbnail {
		text-align: center;
}

.demographic_header {
		font-family: Impact, Georgia, Trebuchet MS, serif;
		color: #4C075D;
}

.demographic_data {
		list-style-type: none;
}

#sidebar a:link {
		color: #007e7e;
}

#sidebar a:visited {
		color: #333333;
}

#sidebar a:hover {
		background: #ff6400;
		color: #0d5353;
}