@charset "UTF-8";

body {
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	margin: 50px;
}

header {
	background-color: #9d8a62;
	padding: 20px;
	margin-bottom: 20px;
}

header h1 {
	text-align: center;
}

#contact {
	float: right;
}

aside {
	font-size: small;
	float: left;
	background-color: #d8d0c0;
	width:20%;
	padding:10px;
	margin: 20px 20px 20px 0px;
	clear: left;
}

aside li{
	margin: 0em; 
	padding: 0em;
}

aside h1{
	text-align: center;
}

section {
	line-height: 1.5em;
}

footer{
	background-color: #9d8a62;
	clear:both;
	text-align: center;
	padding:20px;
	margin-top:20px;
}