@charset "ISO-8859-1";
body {
    background-color: silver;
}
img {
    float: left;
}
#sidebar{
	float: right;
	width: 750px;
	border-style: solid;
    border-width: 5px;
    border-color: black;
}
#easterncampus{
	float: left;
	width: 750px;
	border-style: solid;
    border-width: 5px;
    border-color: black;
}
#headerblock {
    color: Blue;
    background-color: silver;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color:black;
}
#dateandtime{color: Black;
    background-color: silver;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    }
#abouttab{color:black;
background-color: silver;
border-style: solid;
border-color: black;
}
#campustab{color:black;
background-color: silver;
border-style:solid;
border-color:black;
}
#programstab{color:black;
background-color:silver;
border-style:solid;
border-color:black;
}
#coursestab{color:black;
background-color:silver;
border-style:solid;
border-color:black;
}
p {
    font-family: verdana;
    font-size: 20px;
}
html {
    border-style: solid;
    border-width: 1px;
}
footer{
	background-color:silver;
border-style:solid;
border-color:black;
}
